Port 22
AddressFamily inet
# ListenAddress <IP_ADDR>

AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile      .ssh/authorized_keys

# --- Disallow root login ---
PermitRootLogin yes

# --- (Optional) restrict to your user(s) ---
# AllowUsers root

# --- Use PAM but don't allow it to re-enable password auth ---
UsePAM yes

# --- Agents restriction for server ---
allowagentforwarding no
allowtcpforwarding local